<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="quizService" class="ru.atiskov.spring.service.QuizServiceImpl">
        <constructor-arg name="quizName" value="quiz.csv"/>
        <constructor-arg name="stringToQuizService" ref="stringToQuizService"/>
    </bean>

    <bean id="stringToQuizService" class="ru.atiskov.spring.service.StringToQuizServiceImpl">
    </bean>
</beans>
